@tailwind base;
@tailwind components;
@tailwind utilities;

.hero__container {
    height: 73vh;
    min-height: 517px;
    background-color: #F8EFA0;
}

.social__icons {
    height: 70vh;
    background: url('../components/assets/Hero/socialBG.png') no-repeat;
    background-size: contain;
    background-position: left;
}

.left_content {
    height: 65vh;
    background: url('../components/assets/Hero/heroLeftBG.png') no-repeat;
    background-size: 70%;
    background-position: left;
}

.right__content {
    height: 65vh;
    background: url('../components/assets/Hero/heroRightBG.png') no-repeat;
    background-size: 70%;
    background-position: center;
}

.slider {
    height: 80%;
    background: url('../components/assets/Hero/sliderBG.png') no-repeat;
    background-size: contain;
    background-position: center;
}

.events__container {
    height: 100vh;
    background: url('../components/assets/Events/events-background.png') no-repeat;
    background-size: cover;
}

.upcoming__events {
    height: 100vh;
    background: url('../components/assets/UpcomingEvents/upcoming-events-backgroud.png') no-repeat;
    background-size: cover;
}

.winners__and__gallery {
    height: 100vh;
    background: url('../components/assets/WinnersAndGallery/winnersAndGalleryBGpng.png') no-repeat;
    background-size: cover;
}

.footer {
    height: 100vh;
    background: url('../components/assets/Footer/FooterBG.png') no-repeat;
    background-size: cover;
}

.footer__links {
    background: url('../components/assets/Footer/footer-links.png') no-repeat;
    background-size: cover;
}

.upcoming__events__slider .swiper-button-prev, .swiper-rtl .swiper-button-next {
    display: none!important;
}

.upcoming__events__slider .swiper-button-next::after, .swiper-rtl .swiper-button-prev {
    font-size: 100px!important;
    font-weight: 900!important;
    margin-right: 100px;
    color: #D1D1AB!important;
}

.gallery__slider .swiper-button-prev::after, .swiper-rtl .swiper-button-next {
    font-size: 100px!important;
    font-weight: 900!important;
    color: #7100807a!important;
}

.gallery__slider .swiper-button-next::after, .swiper-rtl .swiper-button-prev {
    font-size: 100px!important;
    font-weight: 900!important;
    color: #7100807a!important;
}

.sign__up  {
    height: 100vh;
    background: url('../components/assets/SignUp/signup-background.png') no-repeat;
    background-position: bottom;
    background-size: cover;
}

.signup__input__container {
    height: 100vh;
    background: linear-gradient(260.03deg, #1D004E 10.78%, rgba(134, 88, 210, 0) 100%);
}

.mobile__hero {
    height: 70vh;
}

