@tailwind base;
@tailwind components;
@tailwind utilities;

.hero__container {
    height: 73vh;
    min-height: 517px;
    background-color: #F8EFA0;
}

.social__icons {
    height: 70vh;
    background: url('../components/assets/Hero/socialBG.png') no-repeat;
    background-size: contain;
    background-position: left;
}

.left_content {
    height: 65vh;
    background: url('../components/assets/Hero/heroLeftBG.png') no-repeat;
    background-size: 70%;
    background-position: left;
}

.right__content {
    height: 65vh;
    background: url('../components/assets/Hero/heroRightBG.png') no-repeat;
    background-size: 70%;
    background-position: center;
}

.slider {
    height: 80%;
    background: url('../components/assets/Hero/sliderBG.png') no-repeat;
    background-size: contain;
    background-position: center;
}

.events__container {
    height: 100vh;
    background: url('../components/assets/Events/events-background.png') no-repeat;
    background-size: cover;
}

.upcoming__events {
    height: 100vh;
    background: url('../components/assets/UpcomingEvents/upcoming-events-backgroud.png') no-repeat;
    background-size: cover;
}

.winners__and__gallery {
    height: 100vh;
    background: url('../components/assets/WinnersAndGallery/winnersAndGalleryBGpng.png') no-repeat;
    background-size: cover;
}

.footer {
    height: 100vh;
    background: url('../components/assets/Footer/FooterBG.png') no-repeat;
    background-size: cover;
}

